.body {
  transform-box: fill-box;
  transform-origin: center center;
  transition: fill 0.5s, scale 0.5s;
}

.rect {
  animation-name: rectangleFadeIn;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  fill-opacity: 0;
  stroke-width: 0.15rem;
  stroke-dasharray: 0.6rem 0.9rem;
  transition-property: opacity;
}

@keyframes rectangleFadeIn {
  from {
    opacity: 0;
    stroke: red;
  }
  50% {
    opacity: 1;
    stroke: red;
  }
  to {
    stroke: grey;
    opacity: 0.4;
  }
}
