@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(41, 42, 46);
  }
}

.fadeIn {
  opacity: 0;

  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  opacity: 1;

  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// copy of tailwind's space class but using padding instead of margin
// to maintain the backdrop filter's coverage
.space-y-4-padding > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  padding-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  padding-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-6-padding > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  padding-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  padding-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
